<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key='"+" зарубка на ванне 201' value="0,32"/>
        <add key='Средний проезд 220-221' value="0,164"/>
        <add key='Торец корпуса 241-244' value="0,55"/>
        <add key='Средний проезд 264-265' value="0,162"/>
        <add key='"-" зарубка на ванне 284' value="0,67"/>
        <add key='Транспортные проезды' value="0,038"/>
        <add key='Потребление Ввод #1' value="1"/>
        <add key='Потребление Ввод #2' value="3"/>
    </appSettings>
</configuration>